{% extends 'layout.html' %}

{% block title %}Manage › News › Create{% endblock %}

{% block jsfiles %}
    {{ super() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
{% endblock %}

{% block cssfiles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css">
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('news_create') }}">
    {% include 'manage/news/form.html' %}
    </form>
{% endblock %}