<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>

<div class="row">
    <div style="width:50%">
        <div class="group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="{{ the_news.title if the_news }}" required>
        </div>
    </div>
    <div style="width:50%">
        <div class="group">
            <label for="date">Date</label>
            <input type="datetime" name="date" id="date" value="{{ the_news.date.format('YYYY-MM-DD HH:mm') if the_news and the_news.date }}" placeholder="YYYY-MM-DD HH:mm (leave blank to set as draft)">
        </div>
    </div>
</div>

<div class="group">
    <label for="content">Content</label>
    <textarea name="content" id="content" required>{{ the_news.content if the_news }}</textarea>
</div>

{% if the_news %}
<div class="group">
    <label>Slug</label>
    <div><code>{{ the_news.slug if the_news.slug else 'None' }}</code></div>
</div>
{% endif %}

<p>
    <a href="{{ url_for('manage') }}" class="button">« Back</a> <button type="submit">Save</button> {% if the_news %}<a class="button" href="{{ url_for('one_news', slug=the_news.slug) }}">Read</a>{% endif %}
</p>

<script>
Zepto(function () {
    var simplemde = new SimpleMDE({
        element: $('textarea#content').get(0),
        autosave: {
            enabled: true,
            uniqueId: 'news_content{{ the_news._id if the_news }}'
        },
        indentWithTabs: false,
        tabSize: 4,
        forceSync: true,
        promptURLs: true
    });
});
</script>