
/************************************************************************
 * General styles */

body {
    background: #0c7367 url("/static/images/bg.png");
    color: #94EAE3;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    font-size: 16px;
}

a,
a:visited {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    border-bottom: 1px solid;
}

/************************************************************************
 * Header */

header {
    display: table;
    width: 100%;
}

header a,
header a:hover,
header a:focus,
header a:visited {
    border-bottom: none;
}

header .left,
header .right {
    display: table-cell;
    width: 50%;
    padding: 15px;
    vertical-align: middle;
}

header .left img {
    border-radius: 50%;
    background-color: #fff;
}

header .left {
    text-align: right;
}

header .right .title {
    font-size: 42px;
    text-shadow: 1px 1px 1px #000;
}

header .subtitle {
    font-size: 18px;
}

/************************************************************************
 * Content */

.content {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 992px;
    margin: 0 auto;
}

.content p {
    text-align: justify;
}

.content h1,
.content h2 {
    text-shadow: 1px 1px 1px #000;
}

.content h1 {
    margin: 0;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px #000;
    border-bottom: 1px solid #008474;
}

.content h2 {
    text-shadow: 1px 1px 1px #000;
}

/************************************************************************
 * Recognize block */

.recognize-block,
.recognize-block p {
    text-align: center;
}

/************************************************************************
 * Alerts */

.alert-success,
.alert-error {
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.alert-success {
    background-color: #83bc66;
    color: #FFF;
    border: 2px solid #446636;
}

.alert-error {
    background-color: #facb1b;
    color: #333;
    border: 2px solid #333;
}

/************************************************************************
 * Footer */

footer {
    border-top: 1px solid #2C2C2C;
    border-bottom: 1px solid #12b2a0;
    background-color: #505050;
    text-align: center;
    color: #ccc;
    font-size: 14px;
}