body {
    background-color: #0c7367;
}

header {
    background-color: #fff;
    display: table;
    width: 100%;
}

header .left,
header .right {
    display: table-cell;
    vertical-align: top;
}

header .left {
    text-align: right;
}

.content {
    border-top: 1px solid #000;
    background-color: #505050;
}

footer {
    text-align: center;
    color: #93BCB8;
    font-size: 0.8em;
    border-top: 1px solid #12b2a0;
}

footer a,
footer a:visited {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: inherit;
}

footer a:hover,
footer a:focus {
    border-bottom: 1px solid;
}