
/************************************************************************
 * General styles */

body {
    background: #0c7367 url("/images/bg.png");
    color: #94EAE3;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    font-size: 16px;
}

a,
a:visited {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #FACB1B;
}

.text-center {
    text-align: center !important;
}

/************************************************************************
 * Header */

header {
    display: table;
    width: 100%;
}

header a,
header a:hover,
header a:focus,
header a:visited {
    border-bottom: none;
}

header .left,
header .right {
    display: table-cell;
    width: 50%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
}

header .left img {
    border-radius: 50%;
    background-color: #fff;
}

header .left {
    text-align: right;
}

header .right .title {
    font-size: 42px;
    text-shadow: 1px 1px 1px #000;
}

header .subtitle {
    font-size: 18px;
}

/************************************************************************
 * Content */

.content {
    padding: 10px;
    max-width: 992px;
    margin: 0 auto;
}

.content p {
    text-align: justify;
}

.content h1,
.content h2 {
    text-shadow: 1px 1px 1px #000;
}

.content h1 {
    margin: 0;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px #000;
    border-bottom: 1px dotted #099886;
}

.content h2 {
    text-shadow: 1px 1px 1px #000;
}

/************************************************************************
 * Buttons */

button {
    border-radius: 5px;
    cursor: pointer;
    background-color: #099686;
    border: 1px solid #0CBDA9;
    color: #fff;
    box-shadow: 0 5px 2px #07564d;
    position: relative;
}

button:hover,
button:focus {
    border-color: #FACB1B;
}

button:active {
    top: 3px;
    box-shadow: 0 2px 2px #07564d;
    border-color: #8C720D;
}

/************************************************************************
 * Recognize block */

.recognize-block,
.recognize-block p {
    text-align: center;
}

.recognize-block button {
    padding: 8px 10px;
    font-size: 20px;
}

.recognize-block #progress {
    display: none;
}

/************************************************************************
 * Alerts */

.alert-success,
.alert-error,
.alert-info {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border-width: 2px;
    border-style: solid;
}

.alert-success {
    background-color: #83bc66;
    color: #FFF;
    border-color: #89DA69;
}

.alert-error {
    background-color: #facb1b;
    color: #333;
    border-color: #333;
}

.alert-info {
    background-color: #5C5C5C;
    color: #FFF;
    border-color: #787878;
}

/************************************************************************
 * Tables */

table {
    width: 100%;
    border-collapse: collapse;
}

table,
table td,
table th {
    border: 1px solid #099886;
}

table td,
table th {
    padding: 10px;
    text-align: left;
}

table thead th {
    border-bottom-width: 2px;
}

table tfoot th {
    border-top-width: 2px;
}

/************************************************************************
 * Footer */

footer {
    border-top: 1px solid #2C2C2C;
    border-bottom: 1px solid #12b2a0;
    background-color: #505050;
    text-align: center;
    color: #ccc;
    font-size: 14px;
}