{% extends 'layout.html' %}

{% block page_title %}<h1>News › {{ the_news.title }}</h1>{% endblock %}
{% block meta_title %}News › {{ the_news.title }}{% endblock %}

{% block manage_bar_items %} • Tags: <a href="{{ url_for('news_edit', news_id=the_news._id) }}">Edit</a> • <a href="{{ url_for('news_delete', news_id=the_news._id) }}" onclick="return confirm('Are you sure?')">Delete</a>{% endblock %}

{% block content %}
    <p{% if the_news.date %}><em>Published {{ the_news.date.humanize() }}</em>{% else %} class="alert info">This is a draft{% endif %}{% if the_news.tags %} • {% for tag in the_news.tags %}<a href="{{ url_for('news', tag=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</p>

    {{ the_news.content|markdown }}

    <p style="text-align: center !important;"><a href="{{ url_for('news') }}" class="button">« Back</a></p>
{% endblock %}