{% extends 'layout.html' %}

{% block page_title %}<h1>About</h1>{% endblock %}
{% block meta_title %}About{% endblock %}

{% block content %}
    <p><strong>Web Audio Recognizer</strong> (<strong>WAR</strong>) is a simple web page that allows you to recognize unknown music tracks and get the associated artist and title. Think about <a href="http://www.shazam.com/">Shazam</a>, but web-based.</p>

    <p>You can either capture or sing the music via your microphone. You can even capture the music currently playing from your speakers for more accuracy (a little bit of configuration is needed for this, please refer to <a href="{{ url_for('faq') }}#how-to-capture-speakers">the FAQ</a>).</p>

    <h2 id="author-genesis">Author and genesis</h2>

    <p>I (<a href="https://epoc.fr/">Epoc</a>) primarly created <strong>WAR</strong> for myself, because I was frustated that <a href="http://www.di.fm/">Digitally Imported</a> - a great web radio I'm listening for years - often play tracks that are mixes. Since mixes are several tracks mixed together in one huge track, you can't get the real tracks titles.</p>
    <p>As I use several methods at several places to listen to Digitally Imported, I wanted a system that didn't need to install anything.</p>
    <p>I also needed this system to search several audio databases at once to maximize the chances of getting positive matches.</p>
    <p><strong>WAR</strong> is a side project started in June 2016. I plan to add new features and maintain it on long term. You can read about the planned features and their progression on the <a href="{{ url_for('roadmap') }}">roadmap page</a>.</p>

    <h2 id="technologies">Technologies</h2>

    <p><strong>WAR</strong> is rolling on <a href="https://www.python.org/">Python</a>, <a href="https://nginx.org/">Nginx</a> and <a href="http://www.ubuntu.com/server">Ubuntu Server</a> at <a href="https://www.scaleway.com/">Scaleway</a>. It also uses <a href="http://kr.github.io/beanstalkd/">Beanstalk</a>, <a href="http://supervisord.org/">Supervisor</a>, <a href="https://pusher.com/">Pusher</a>, <a href="https://mariadb.com/">MariaDB</a> and <a href="http://zeptojs.com/">Zepto</a>.</p>

    <p>It requests several audio databases for each recognition request, you can see the list on the <a href="{{ url_for('stats') }}">stats page</a>.</p>

    <h2>Thanks to</h2>

    <ul>
        <li>My girlfriend, Laetitia, for its opinions</li>
        <li>Anthony (typos, testing)</li>
        <li><a href="https://www.duplessy.eu/">Sébastien</a> (testing, opinions)</li>
        <li><a href="http://launes.eu/">Guillaume</a> (testing, opinions)</li>
        <li>Alexis (testing, opinions)</li>
        <li><a href="http://zewaren.net/site/">Erwan</a> (opinions, technical help)</li>
    </ul>
{% endblock %}