{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <p><strong>Web Audio Recognizer</strong> (<strong>WAR</strong>) is a simple web page that allows you to recognize unknown music tracks and get the associated artist and title. Think about <a href="http://www.shazam.com/">Shazam</a>, but web-based.</p>

    <p>You can either capture or sing the music via your microphone. You can even capture the music currently playing from your speakers for more accuracy (a little bit of configuration is needed for this, please refer to <a href="{{ url_for('faq') }}#how-to-capture-speakers">the FAQ</a>).</p>

    <h2 id="author-genesis">Author and genesis</h2>

    <p><strong>WAR</strong> was created by <a href="http://www.epoc.fr/">Epoc</a>. He primarly created it for himself, because he was frustated that <a href="http://www.di.fm/">Digitally Imported</a> - a great web radio he's been listening for years - often play tracks that are mixes. Since mixes are several tracks mixed together in one huge track, you can't get the real tracks titles.</p>
    <p>As he uses several methods at several places to listen to Digitally Imported, he wanted a system that didn't need to install anything.</p>
    <p>He also needed this system to search several audio databases at once to maximize the chances of getting positive matches.</p>

    <h2 id="technologies">Technologies</h2>

    <p><strong>WAR</strong> is rolling on <a href="https://www.python.org/">Python</a>, <a href="https://nginx.org/">Nginx</a> and <a href="http://www.ubuntu.com/server">Ubuntu Server</a> at <a href="https://www.scaleway.com/">Scaleway</a>. It also uses <a href="http://kr.github.io/beanstalkd/">Beanstalk</a>, <a href="http://supervisord.org/">Supervisor</a>, <a href="https://pusher.com/">Pusher</a>, <a href="https://www.mongodb.com/">MongoDB</a> and <a href="http://zeptojs.com/">Zepto</a>.</p>

    <p>It requests several audio databases for each recognization request, you can see the list on the <a href="{{ url_for('stats') }}">stats page</a>.</p>

    <h2>Thanks to</h2>

    <ul>
        <li>My girlfriend, Laetitia, for its opinions</li>
        <li>Anthony (typos, testing)</li>
        <li>Sébastien (testing, opinions)</li>
        <li>Guillaume (testing, opinions)</li>
    </ul>
{% endblock %}