{% extends 'layout.html' %}

{% block title %}FAQ • {% endblock %}

{% block content %}
    <h1>FAQ</h1>

    <p>Please check here if your question has already been answered.</p>

    <h2>Wut?</h2>

    <p>Web Audio Recognizer (WAR) is a simple web page that allow you to recognize unknown music tracks and get the associated artist and title. Think about a Chazam, but web-based.</p>

    <h2>How?</h2>

    <p>You can either submit an audio file or capture / sing the music via your microphone, or even capture the music currently playing from your speakers (a little bit of configuration is needed for this).</p>

    <h2>Do I need to install some crap?</h2>

    <p>Nothing to install. The only requirement is a modern web browser.</p>

    <h2>Why?</h2>

    <p>I created this service primarly for myself, because I was frustated that Digitally Imported - a great web radio I listen for years - often play tracks that are mixes: there is only the mix name available.</p>
    <p>As I use several methods at several places to listen to DI (AIMP or the Flash player from the website; at home on different computers and at work), I wanted a system that didn't need to install anything (other than a modern web browser).</p>
    <p>I also needed that this system searches several audio databases in one time to maximize the chances to get positive matches.</p>

    <h2>How to redirect my audio to a fake microphone?</h2>

    <p>Blahblah</p>
{% endblock %}