{% extends 'layout.html' %}

{% block title %}FAQ • {% endblock %}

{% block content %}
    <h1>FAQ</h1>

    <p>Please check here if your question has already been answered. There's nothing more frustrating than having to answer the same question again and again, trust me.</p>
    <p>If your question isn't listed here, throw me a message <a href="https://twitter.com/EpocDotFr">on Twitter</a>.</p>

    <h2>Wut?</h2>

    <p><strong>Web Audio Recognizer</strong> (<strong>WAR</strong>) is a simple web page that allow you to recognize unknown music tracks and get the associated artist and title. Think about a Chazam, but web-based.</p>

    <h2>How?</h2>

    <p>You can either submit an audio file or capture / sing the music via your microphone, or even capture the music currently playing from your speakers (a little bit of configuration is needed for this, <a href="#">see bellow</a>).</p>

    <h2>Do I need to install some crap?</h2>

    <p>Nothing to install. The only requirement is a modern web browser.</p>

    <h2>Why?</h2>

    <p>I created <strong>WAR</strong> primarly for myself, because I was frustated that <a href="http://www.di.fm/">Digitally Imported</a> - a great web radio I listen for years - often play tracks that are mixes. Since mixes are several tracks mixed together in one huge track, you can't get the real tracks name.</p>
    <p>As I use several methods at several places to listen to DI, I wanted a system that didn't need to install anything (other than a modern web browser).</p>
    <p>I also needed that this system searches several audio databases in one time to maximize the chances to get positive matches.</p>

    <h2>How to capture audio from my speakers?</h2>

    <p>You have to create a fake recording peripheral (usually called stereo mix) that will be accessed by <strong>WAR</strong> like if it's a microphone.</p>

    <h2>It is open-source?</h2>

    <p>Nope. Not yet.</p>
{% endblock %}