{% extends 'layout.html' %}

{% block jsfiles %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    <script src="{{ url_for('static', filename='js/MediaStreamRecorder.min.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Welcome to WAR!</h1>

    <div class="recognize-block">
        <p> Click the <strong>Recognize</strong> button below, give <strong>WAR</strong> the permission to access one of your recording devices, and wait {{ config['SAMPLE_DURATION'] }} seconds until the sample is submitted. <small><a href="{{ url_for('faq') }}">Troubles?</a></small></p>

        <p><button id="recognize">Recognize</button></p>

        <div id="progress"></div>

        <p><small>There were <strong>{{ global_stats.total_successes_and_failures }}</strong> recognition requests so far.<br><strong>{{ global_stats.total_successes }}</strong> (<strong>{{ global_stats.total_successes_percent }}</strong> %) of them matched, the other <strong>{{ global_stats.total_failures }}</strong> (<strong>{{ global_stats.total_failures_percent }}</strong> %) didn't.</small></p>
    </div>

    <p style="text-align: center !important;"><small>Latest recognitions: {{ latest_success_samples }}</small></p>

    {% if latest_news %}
        <hr>
        <h3 class="latest-news"><a href="{{ url_for('one_news', slug=latest_news.slug) }}">{{ latest_news.title }}</a> <small>— published {{ latest_news.date.humanize() }}</small></h3>
    {% endif %}

    <script>
    Zepto(function () {
        var recording = false;
        var mediaRecorder;
        var countdown_interval;

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

        var div_progress = $('div#progress');
        var button_recognize = $('button#recognize');

        function onStreamConnected(stream) {
            recording = true;
            button_recognize.text('Cancel');

            mediaRecorder = new MediaStreamRecorder(stream);

            mediaRecorder.mimeType = 'audio/wav';

            mediaRecorder.ondataavailable = function (sample) {
                if (!recording) {
                    return;
                }

                mediaRecorder.stop();

                displayStatus('info', 'Sending sample...');

                var sfd = new FormData();
                sfd.append('sample', sample);

                button_recognize.prop('disabled', true);

                $.ajax({
                    type: 'POST',
                    url: '{{ url_for('recognize') }}',
                    data: sfd,
                    processData: false,
                    contentType: false,
                    success: function(response, status, xhr) {
                        if (response.result == 'success') {
                            location.replace('/r/'+response.data.sample_id);
                        } else {
                            displayStatus('error', 'Error sending your sample: '+response.data.message);
                        }
                    },
                    error: function(xhr, errorType, error) {
                        var message = '';

                        try {
                            var response = JSON.parse(xhr.responseText);
                            message = response.data.message;
                        } catch (e) {
                            message = error;
                        }

                        displayStatus('error', 'Error sending your sample: '+message);
                    }
                });
            };

            mediaRecorder.start({{ config['SAMPLE_DURATION'] * 1000 }});

            var countdown = {{ config['SAMPLE_DURATION'] }};
            var message = function() { return 'Recording... Please wait '+countdown+' seconds.'; };

            displayStatus('info', message);

            countdown_interval = window.setInterval(function() {
                countdown = countdown - 1;
                
                if (countdown == 0) {
                    clearInterval(countdown_interval);
                    return;
                }

                displayStatus('info', message);
            }, 1000);
        }

        function onStreamError(err) {
            button_recognize.text('Recognize');

            recording = false;

            mediaRecorder = null;

            displayStatus('error', 'Error while getting the recording device: '+err.name);
        }

        function displayStatus(type, message) {
            div_progress.text(message);
            div_progress.removeClass();
            div_progress.addClass('alert '+type);
            div_progress.show();
        }

        if (!navigator.getUserMedia) {
            button_recognize.parent().remove();
            displayStatus('error', 'Oh no, your web browser doesn\'t seem to support audio recording :/');
        } else {
            button_recognize.on('click', function() {
                if (recording) {
                    $(this).text('Recognize');

                    div_progress.hide();

                    recording = false;

                    if (countdown_interval) {
                        clearInterval(countdown_interval);
                    }

                    mediaRecorder.stop();

                    mediaRecorder = null;
                } else {
                    displayStatus('info', 'Waiting for your permission...');

                    navigator.getUserMedia({audio: true, video: false}, onStreamConnected, onStreamError);
                }
            });
        }
    });
    </script>
{% endblock %}