{% extends 'layout.html' %}

{% block content %}
    <h1>Welcome to WAR!</h1>

    <div class="recognize-block">
        <p> Click the <strong>Recognize</strong> button below, give <strong>WAR</strong> the permission to access one of your recording devices, and wait {{ config['SAMPLE_DURATION'] }} seconds until the sample is submitted.</p>

        <p><button id="recognize">Recognize</button></p>

        <div id="progress"></div>

        <p><small>There were <strong>{{ global_stats.total_successes_and_failures }}</strong> recognition requests so far.<br><strong>{{ global_stats.total_successes }}</strong> (<strong>{{ global_stats.total_successes_percent }}</strong> %) of them matched, the other <strong>{{ global_stats.total_failures }}</strong> (<strong>{{ global_stats.total_failures_percent }}</strong> %) didn't.</small></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.7/zepto.min.js"></script>
    <script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
    <script>
    Zepto(function () {
        navigator.getUserMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
        window.AudioContext = (window.AudioContext || window.webkitAudioContext);

        var audio_context = new window.AudioContext();
        var recorder;

        var div_progress = $('div#progress');
        var button_recognize = $('button#recognize');

        function onStreamConnected(stream) {
            window.audio_input = audio_context.createMediaStreamSource(stream);

            recorder = new Recorder(window.audio_input);
            recorder.record();

            displayStatus('info', 'Recording... Please wait {{ config['SAMPLE_DURATION'] }} seconds.');

            window.setTimeout(function() {
                recorder.stop();

                recorder.exportWAV(function(sample) {
                    displayStatus('info', 'Sending sample...');

                    var fd = new FormData();
                    fd.append('sample', sample);

                    $.ajax({
                        type: 'POST',
                        url: '{{ url_for('recognize') }}',
                        data: fd,
                        processData: false,
                        contentType: false,
                        success: function(response, status, xhr) {
                            if (response.result == 'success') {
                                location.replace('/r/'+response.data.sample_id);
                            } else {
                                displayStatus('error', response.data.message);
                            }

                            recorder.clear();
                        },
                        error: function(xhr, errorType, error) {
                            var response = JSON.parse(xhr.responseText);

                            displayStatus('error', response.data.message);
                        },
                        complete: function(xhr, status) {
                            button_recognize.attr('disabled', true);
                        }
                    });
                });
            }, {{ config['SAMPLE_DURATION'] * 1000 }});
        }

        function onStreamError(err) {
            displayStatus('error', 'Error while getting the recording device: '+err);
            button_recognize.attr('disabled', false);
        }

        function displayStatus(type, message) {
            div_progress.text(message);
            div_progress.removeClass();
            div_progress.addClass('alert-'+type);
            div_progress.show();
        }

        button_recognize.on('click', function() {
            displayStatus('info', 'Waiting for your permission...');
            button_recognize.attr('disabled', true);

            navigator.getUserMedia({audio: true}, onStreamConnected, onStreamError);
        });
    });
    </script>
{% endblock %}