{% extends 'layout.html' %}

{% block content %}
    <h1>Welcome to WAR!</h1>

    <div class="recognize-block">
        <p> Click the <strong>Recognize</strong> button below, give <strong>WAR</strong> the permission to access one of your recording devices, and wait {{ config['SAMPLE_DURATION'] }} seconds until the sample is submitted.</p>

        <p><button id="recognize">Recognize</button></p>

        <div id="progress"></div>

        <p><small>There were <strong>{{ global_stats.total_successes_and_failures }}</strong> recognition requests so far.<br><strong>{{ global_stats.total_successes }}</strong> (<strong>{{ global_stats.total_successes_percent }}</strong> %) of them matched, the other <strong>{{ global_stats.total_failures }}</strong> (<strong>{{ global_stats.total_failures_percent }}</strong> %) didn't.</small></p>
    </div>

    {% if latest_news %}
        <hr>
        <h3 class="latest-news"><a href="{{ url_for('one_news', slug=latest_news.slug) }}">{{ latest_news.title }}</a> <small>— published {{ latest_news.date.humanize() }}</small></h3>
    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.7/zepto.min.js"></script>
    <script src="{{ url_for('static', filename='js/MediaStreamRecorder.min.js') }}"></script>
    <script>
    Zepto(function () {
        navigator.getUserMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);

        var div_progress = $('div#progress');
        var button_recognize = $('button#recognize');

        function onStreamConnected(stream) {
            var mediaRecorder = new MediaStreamRecorder(stream);

            mediaRecorder.mimeType = 'audio/wav';

            mediaRecorder.ondataavailable = function (sample) {
                displayStatus('info', 'Sending sample...');

                var sfd = new FormData();
                sfd.append('sample', sample);

                $.ajax({
                    type: 'POST',
                    url: '{{ url_for('recognize') }}',
                    data: sfd,
                    processData: false,
                    contentType: false,
                    success: function(response, status, xhr) {
                        if (response.result == 'success') {
                            location.replace('/r/'+response.data.sample_id);
                        } else {
                            displayStatus('error', response.data.message);
                        }
                    },
                    error: function(xhr, errorType, error) {
                        var response = JSON.parse(xhr.responseText);

                        displayStatus('error', response.data.message);
                    },
                    complete: function(xhr, status) {
                        mediaRecorder.stop();
                        button_recognize.attr('disabled', false);
                    }
                });
            };

            mediaRecorder.start({{ config['SAMPLE_DURATION'] * 1000 }});

            displayStatus('info', 'Recording... Please wait {{ config['SAMPLE_DURATION'] }} seconds.');
        }

        function onStreamError(err) {
            displayStatus('error', 'Error while getting the recording device: '+err);
            button_recognize.attr('disabled', false);
        }

        function displayStatus(type, message) {
            div_progress.text(message);
            div_progress.removeClass();
            div_progress.addClass('alert-'+type);
            div_progress.show();
        }

        button_recognize.on('click', function() {
            button_recognize.attr('disabled', true);

            displayStatus('info', 'Waiting for your permission...');
            
            navigator.getUserMedia({audio: true, video: false}, onStreamConnected, onStreamError);
        });
    });
    </script>
{% endblock %}