<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}This is WAR! (Web Audio Recognizer)</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <!--[if IE]><link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" /><![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <header>
        <div class="left">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo_128.png') }}" width="128" height="128"></a>
        </div>
        <div class="right">
            <span class="title">This is WAR!</span>
            <span class="subtitle">(Web Audio Recognizer)</span>
        </div>
    </header>

    <div class="separator"></div>

    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <div class="separator"></div>

    <footer>
        <p><strong>WAR</strong> is kindly brought to you by <a href="http://www.epoc.fr">Epoc</a> • Logo courtesy of <a href="http://www.webalys.com/">Webalys</a></p>
        <p><a href="{{ url_for('faq') }}">FAQ</a></p>
    </footer>
</body>
</html>