{% extends 'layout.html' %}

{% block title %}Manage{% endblock %}

{% block content %}
    <h2>Visits <small>— <a href="https://secure.gaug.es/dashboard#/gauges/577f8924c88d900296007007/overview">Dashboard</a></small></h2>

    <ul>
        <li><strong>All time:</strong> {{ visits.all_time.views }} views, {{ visits.all_time.people }} people</li>
        <li><strong>Today:</strong> {{ visits.today.views }} views, {{ visits.today.people }} people</li>
        <li><strong>Yesterday:</strong> {{ visits.yesterday.views }} views, {{ visits.yesterday.people }} people</li>
    </ul>

    <h2>Server</h2>

    <ul>
        <li><strong>CPU:</strong> {{ server.cpu }} %</li>
        <li><strong>RAM:</strong> {{ server.ram }} %</li>
        <li><strong>HDD:</strong> {{ server.hdd }} %</li>
    </ul>

    <h2>News <small>— <a href="">New</a></small></h2>

    <ul>
        {% for the_news in news_list %}
        <li>{{ the_news.title }} <small>(published {{ the_news.date.humanize() }}) — <a href="{{ url_for('one_news', slug=the_news.slug) }}">Read</a> <a href="">Edit</a> <a href="">Delete</a></small></li>
        {% else %}
        <li>No news</li>
        {% endfor %}
    </ul>
{% endblock %}