{% extends 'layout.html' %}

{% block page_title %}<h1>Roadmap</h1>{% endblock %}
{% block meta_title %}Roadmap{% endblock %}

{% block content %}
    <p>Here's an overview of the different major features and enhancements coming to <strong>WAR</strong>, in no particular order. Please note that there isn't any ETA, so they'll be available... when they'll be done :)</p>

    <p>Any suggestion? There's a <a href="https://twitter.com/WebAudioReco">Twitter</a> account and a <a href="https://www.facebook.com/WebAudioReco">Facebook</a> page for that.</p>

    <h2>Completed!</h2>

    <ul>
        <li>Listen to the submitted samples</li>
    </ul>

    <h2>Started</h2>

    <ul>
        <li>Faster sample uploading, especially for mobile devices</li>
        <li>Invisible technical enhancements for future features</li>
    </ul>

    <h2>Planned</h2>

    <ul>
        <li>Direct file upload and URL recognition</li>
        <li>More audio databases to recognize samples with!</li>
        <li>Comments on the results page</li>
        <li>REST APIs for developers!</li>
        <li>Addons for desktop audio players</li>
        <li>Crowd-powered recognition with user accounts!</li>
        <li>Translate <strong>WAR</strong> to other languages</li>
        <li>Our own public audio database!</li>
    </ul>
{% endblock %}