{% extends 'layout.html' %}

{% block title %}Stats • {% endblock %}

{% block content %}
    <h1>Stats</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Audio database</th>
            <th>Successful recognitions</th>
            <th>Failed recognitions</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>
{% endblock %}