{% extends 'layout.html' %}

{% block title %}Stats • {% endblock %}

{% block content %}
    <h1>Stats</h1>

    <p>Here are some realtime stats about <strong>WAR</strong>.</p>

    <table class="table">
        <thead>
        <tr>
            <th>Audio database</th>
            <th>Successful recognitions</th>
            <th>Failed recognitions</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ACRCloud</td>
            <td>4 156</td>
            <td>165</td>
            <td>4 321</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th>4 156</th>
            <th>165</th>
            <th>4 321</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}