{% extends 'layout.html' %}

{% block title %}Stats • {% endblock %}

{% block content %}
    <h1>Stats</h1>

    <p>Here are some realtime stats about <strong>WAR</strong> since it was launched the XX, xxxx 2016.</p>

    <table class="table">
        <thead>
        <tr>
            <th>Audio database</th>
            <th>Successful recognitions</th>
            <th>Failed recognitions</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="https://www.acrcloud.com/">ACRCloud</a></td>
            <td>4 156 (<strong>76</strong> %)</td>
            <td>165 (<strong>24</strong> %)</td>
            <td>4 321</td>
        </tr>
        <tr>
            <td><a href="http://www.gracenote.com/music/music-recognition/">Gracenote</a></td>
            <td>4 156 (<strong>76</strong> %)</td>
            <td>165 (<strong>24</strong> %)</td>
            <td>4 321</td>
        </tr>
        <tr>
            <td><a href="http://www.audiblemagic.com/">Audible Magic</a></td>
            <td>4 156 (<strong>76</strong> %)</td>
            <td>165 (<strong>24</strong> %)</td>
            <td>4 321</td>
        </tr>
        <tr>
            <td><a href="https://www.mufin.com/products/audioid-server/">Mufin AudioID</a></td>
            <td>4 156 (<strong>76</strong> %)</td>
            <td>165 (<strong>24</strong> %)</td>
            <td>4 321</td>
        </tr>
        <tr>
            <td><a href="https://acoustid.org/">AcoustID</a></td>
            <td>4 156 (<strong>76</strong> %)</td>
            <td>165 (<strong>24</strong> %)</td>
            <td>4 321</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Total</th>
            <th>4 156 (<strong>76</strong> %)</th>
            <th>165 (<strong>24</strong> %)</th>
            <th>4 321</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}