{% extends 'layout.html' %}

{% block page_title %}<h1>Terms of service</h1>{% endblock %}
{% block meta_title %}Terms of service{% endblock %}

{% block content %}
    <h2>Web analytics</h2>

    <p><strong>WAR</strong> uses <a href="http://get.gaug.es/">Gauges</a> as its website analytics. It is privacy-friendly and it doesn't sell or give your informations to third-parties.</p>

    <h2>Cookies</h2>

    <p><strong>WAR</strong> itself doesn't create any cookies on your computer, but our aforementioned web analytics create several ones.</p>

    <h2>Samples</h2>

    <p>By clicking on the <strong>Recognize</strong> button on the home page, you understand and agree that some audio will be recorded from you device and then will be sent and stored on our service for analysis. Any user, with the appropriate URL (which is public), will be able to listen to the sample you submitted.</p>
    <p>We don't share or sell any of the sample to a third party.</p>
{% endblock %}