{% extends 'layout.html' %}

{% block title %}Manage{% endblock %}

{% block jsfiles %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
{% endblock %}

{% block content %}
    <div class="row manage">
        <div style="width:33%">
            <h2>Beanstalk queues</h2>

            <div>
                <div class="alert info" style="display: none">No queues to display.</div>
                <ul id="queues"><li>...</li></ul>
            </div>
        </div>
        <div style="width:33%">
            <h2>Server health</h2>

            <ul>
                <li><strong>CPU:</strong> <span id="server.cpu" class="manage-data"></span> % used</li>
                <li><strong>RAM:</strong> <span id="server.ram" class="manage-data"></span> % used</li>
                <li><strong>HDD:</strong> <span id="server.hdd" class="manage-data"></span> % used</li>
            </ul>
        </div>
        <div style="width:33%">
            <h2>Supervisor processes</h2>

            <div>
                <div class="alert info" style="display: none">No process to display.</div>
                <ul id="processes"><li>...</li></ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="row manage">
        <div style="width:33%">
            <h2>Samples</h2>

            <ul>
                <li><strong>Total:</strong> {{ global_stats.total_successes_and_failures }}</li>
                <li><strong>Success:</strong> {{ global_stats.total_successes }} ({{ global_stats.total_successes_percent }} %)</li>
                <li><strong>Failures:</strong> {{ global_stats.total_failures }} ({{ global_stats.total_failures_percent }} %)</li>
            </ul>

            <form id="search-sample">
                <p><input type="text" id="sample-id" name="sample-id" maxlength="24" size="24" minlength="24" required placeholder="Enter a sample ID"> <button type="submit">Search</button></p>
            </form>
        </div>
        <div style="width:33%">
            <h2>Live results <small>— <a href="https://dashboard.pusher.com/apps/{{ config['PUSHER']['APP_ID'] }}">Pusher dashboard</a></small></h2>

            <ul>
                <li><strong># of opened channels:</strong> <span id="live_results.channels" class="manage-data"></span></li>
            </ul>
        </div>
        <div style="width:33%">
            <h2>Visits <small>— <a href="https://secure.gaug.es/dashboard#/gauges/{{ config['GAUGES']['SITE_ID'] }}/overview">Gauges dashboard</a></small></h2>

            <ul>
                <li><strong>All time:</strong> <span id="visits.all_time.views" class="manage-data"></span> views, <span id="visits.all_time.people" class="manage-data"></span> people</li>
                <li><strong>Today:</strong> <span id="visits.today.views" class="manage-data"></span> views, <span id="visits.today.people" class="manage-data"></span> people</li>
                <li><strong>Yesterday:</strong> <span id="visits.yesterday.views" class="manage-data"></span> views, <span id="visits.yesterday.people" class="manage-data"></span> people</li>
            </ul>
        </div>
    </div>

    <hr>

    <h2>Unfixed errors <small>— <a href="https://app.bugsnag.com/war/war/errors">Bugsnag dashboard</a></small></h2>

    <div>
        <div class="alert info" style="display: none">No errors to display.</div>
        <ul id="errors"><li>...</li></ul>
    </div>

    <hr>

    <h2>News management <small>— <a href="{{ url_for('news_create') }}">Create</a></small></h2>

    {% if news_list %}
    <ul>
        {% for the_news in news_list %}
        <li>{{ the_news.title }} ({% if the_news.date %}published {{ the_news.date.humanize() }}{% else %}<strong>draft</strong>{% endif %}) — <a href="{{ url_for('one_news', slug=the_news.slug) }}">Read</a> — <a href="{{ url_for('news_edit', news_id=the_news._id) }}">Edit</a> — <a href="{{ url_for('news_delete', news_id=the_news._id) }}" onclick="return confirm('Are you sure?')">Delete</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="alert info">No news to display.</div>
    {% endif %}

    <script>
    Zepto(function () {
        var flattenObject = function(ob) {
            var toReturn = {};
            
            for (var i in ob) {
                if (!ob.hasOwnProperty(i)) continue;
                
                if ((typeof ob[i]) == 'object') {
                    var flatObject = flattenObject(ob[i]);
                    for (var x in flatObject) {
                        if (!flatObject.hasOwnProperty(x)) continue;
                        
                        toReturn[i + '\\.' + x] = flatObject[x];
                    }
                } else {
                    toReturn[i] = ob[i];
                }
            }
            return toReturn;
        };

        var form_sample_search = $('form#search-sample');
        var input_sample_id_to_search = $('input#sample-id');
        var ul_errors = $('ul#errors');
        var ul_processes = $('ul#processes');
        var ul_queues = $('ul#queues');

        form_sample_search.on('submit', function(e) {
            e.preventDefault();

            var sample_id = input_sample_id_to_search.val();

            if (sample_id.length != 24) {
                return false;
            }

            location.replace('/manage/samples/'+sample_id);
        });

        $('.manage-data').text('...');

        $.ajax({
            type: 'GET',
            url: '{{ url_for('manage_get_data') }}',
            success: function(response, status, xhr) {
                if (response.result == 'success') {
                    for (var data_key in response.data) {
                        var data_values = response.data[data_key];

                        switch (data_key) {
                            case 'visits':
                            case 'server':
                            case 'live_results':
                                var data = flattenObject(data_values);

                                for (var key in data) {
                                    var value = data[key];

                                    $('#'+data_key+'\\.'+key).text(value);
                                }
                            break;
                            case 'errors':
                                if (data_values.length == 0) {
                                    ul_errors.siblings('div').show();
                                    ul_errors.remove();
                                } else {
                                    ul_errors.empty();
                                    ul_errors.siblings('div').remove();

                                    for (var key in data_values) {
                                        var error = data_values[key];

                                        ul_errors.append('<li><code>'+error.class+'</code>: '+error.last_message+' — '+error.occurrences+' times — <a href="'+error.html_url+'">View</a></li>');
                                    }
                                }
                            break;
                            case 'processes':
                                if (data_values.length == 0) {
                                    ul_processes.siblings('div').show();
                                    ul_processes.remove();
                                } else {
                                    ul_processes.empty();
                                    ul_processes.siblings('div').remove();

                                    for (var key in data_values) {
                                        var process = data_values[key];

                                        ul_processes.append('<li><code>'+process.name+'</code>: '+process.statename+' — '+process.description+'</li>');
                                    }
                                }
                            break;
                            case 'queues':
                                if (data_values.length == 0) {
                                    ul_queues.siblings('div').show();
                                    ul_queues.remove();
                                } else {
                                    ul_queues.empty();
                                    ul_queues.siblings('div').remove();

                                    for (var key in data_values) {
                                        var queue = data_values[key];

                                        ul_queues.append('<li><code>'+queue.name+'</code>: '+queue['total-jobs']+' total — '+queue['current-jobs-ready']+' ready — '+queue['current-jobs-reserved']+' reserved — '+queue['current-jobs-buried']+' buried — '+queue['current-using']+' using</li>');
                                    }
                                }
                            break;
                        }
                    }
                } else {
                    alert(response.data.message);
                }
            },
            error: function(xhr, errorType, error) {
                var response = JSON.parse(xhr.responseText);

                alert(response.data.message);
            }
        });
    });
    </script>
{% endblock %}