{% extends 'layout.html' %}

{% block title %}Manage › Samples › {{ sample._id }}{% endblock %}

{% block content %}
    <div class="row separated">
        <div style="width:50%">
            <h2>General informations</h2>

            <ul>
                <li>Submitted <strong>{{ sample.submitted_at.humanize() }}</strong> ({{ sample.submitted_at.format('YYYY-MM-DD HH:mm') }})</li>
                <li>Done? <strong>{% if sample.done %}Yes{% else %}No{% endif %}</strong></li>
            </ul>
        </div>
        <div style="width:50%">
            <h2>Sample file</h2>

            {% if sample.file_url %}<audio controls src="{{ sample.file_url }}" preload="none"></audio>{% else %}<div class="alert info">Doesn't exists.</div>{% endif %}
        </div>
   </div>

   <h2>Audio databases</h2>

   {% for audio_database_id, audio_database_instance in audio_databases.items() %}
        <h3>{{ audio_database_instance.get_name() }} {% if audio_database_id == sample.final_result %}<small class="alert success">Final result</small>{% endif %}</h3>

        {% if audio_database_id not in sample %}
            <div class="alert error">Not used. This isn't normal behaviour.</div>
        {% elif not sample[audio_database_id] %}
            <p class="alert info">No data.</p>
        {% else %}
            {% if sample[audio_database_id].status == 'failure' %}
                <p>Unknown</p>
            {% elif sample[audio_database_id].status == 'error' %}
                <p class="alert error">{{ sample[audio_database_id].data.message }}</p>
            {% elif sample[audio_database_id].status == 'success' %}
                <ul>
                    <li>Artist: <strong>{{ sample[audio_database_id].data.artist }}</strong></li>
                    <li>Title: <strong>{{ sample[audio_database_id].data.title }}</strong></li>
                    {% if sample[audio_database_id].data.album %}<li>Album: <strong>{{ sample[audio_database_id].data.album }}</strong></li>{% endif %}
                </ul>
            {% endif %}
        {% endif %}
   {% endfor %}

    <p><a href="{{ url_for('manage') }}" class="button">« Back</a> {% if sample.file_url %}<a href="{{ url_for('sample_manage_requeue', sample_id=sample._id) }}" class="button">Requeue</a>{% endif %} <a href="{{ url_for('sample_manage_delete', sample_id=sample._id) }}" onclick="return confirm('Are you sure? This will also delete the sample file both locally and remotely.')" class="button">Delete</a></p>
{% endblock %}